<% if user_signed_in? %>
	<h1> You're logged in</h1>
<% else %>
	<div class="row">
		<div class="col-md-8">
			<div class="hero-unit">
				<h1>Welcome to Pinterest Clone!</h1>
				  <p>You've found the home page for the
						<%= link_to "Pinerest Clone", "http://www.google.com"%>
					</p>
					  <p>
					    
					   <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large btn-success" %>
				  </p>
			</div>
		</div>
	</div>
<% end %>