<div class="row">
	<div class="col-md-8">

		<div class="hero-unit">
			<h1>Welcome to Pinterest Clone!</h1>
			  <p>You've found the home page for the
					<%= link_to "Pinerest Clone", "http://www.google.com"%>
				</p>
				  <p>
				    <a class="btn btn-primary btn-large btn-success">
				      Learn more
				    </a>
			  </p>
		</div>

		

	</div>
</div>
		
